<!DOCTYPE html>
<html lang="en">

<head>
    <title>Video download</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid pl-0 text-center">
        <div class="row">
            <div class="col-4" style="background: #1AEBB6;height: 100vh;"></div>
            <div class="col-8"></div>
        </div>
        <div class="container shadow-lg" style="height: 70vh;position: absolute; z-index: 10000;top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);"></div>
    </div>
</body>

</html>